@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
.left_direction {
  direction: ltr; }

.v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .v-align img {
    margin: auto; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: .8s ease-in-out; }
  .overlay a {
    color: #39c24a;
    font-size: 20px; }

.num-font {
  font-family: "Open Sans", sans-serif; }

.btm-margin {
  margin-bottom: 30px; }

body {
  font-family: "Droid Arabic Kufi";
  overflow-x: hidden; }

header > .container {
  padding-top: 10px;
  padding-bottom: 10px; }
  header > .container .col-md-2 {
    padding-left: 0; }
header .social {
  height: 44px;
  line-height: 44px;
  text-align: left; }
  header .social a {
    color: rgba(0, 109, 240, 0.5);
    padding-left: 5%; }
    header .social a:last-of-type {
      padding-left: 0 !important; }
    header .social a:hover, header .social a:focus, header .social a:active {
      text-decoration: none; }
header .search_form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 109, 240, 0.5); }
header .search_form ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 109, 240, 0.5); }
header .search_form :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 109, 240, 0.5); }
header .search_form :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 109, 240, 0.5); }
header .search_form .form-group {
  margin-top: 2px;
  margin-bottom: 0; }
  header .search_form .form-group .form-control {
    height: 40px;
    border-left: none;
    border-color: rgba(0, 109, 240, 0.5); }
  header .search_form .form-group .input-group-addon {
    background: transparent;
    border-right: none;
    border-color: rgba(0, 109, 240, 0.5); }
    header .search_form .form-group .input-group-addon .btn.btn-default {
      padding: 0;
      background: transparent;
      border: none;
      color: rgba(0, 109, 240, 0.5); }
header .navbar.navbar-default {
  margin-bottom: 0;
  background: #3030e1;
  border-color: #3030e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  header .navbar.navbar-default .navbar-nav a {
    color: white;
    font-size: 16px; }
  header .navbar.navbar-default .navbar-nav .active a {
    color: #39c24a;
    background: transparent; }

.home-slide-container .bx-wrapper {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-bottom: 0; }
  .home-slide-container .bx-wrapper .bx-pager.bx-default-pager, .home-slide-container .bx-wrapper .bx-controls-auto.bx-default-pager {
    bottom: 20px; }
    .home-slide-container .bx-wrapper .bx-pager.bx-default-pager a, .home-slide-container .bx-wrapper .bx-controls-auto.bx-default-pager a {
      background: transparent;
      border: 1px solid #39c24a; }
      .home-slide-container .bx-wrapper .bx-pager.bx-default-pager a.active, .home-slide-container .bx-wrapper .bx-pager.bx-default-pager aa:focus, .home-slide-container .bx-wrapper .bx-pager.bx-default-pager aa:hover, .home-slide-container .bx-wrapper .bx-controls-auto.bx-default-pager a.active, .home-slide-container .bx-wrapper .bx-controls-auto.bx-default-pager aa:focus, .home-slide-container .bx-wrapper .bx-controls-auto.bx-default-pager aa:hover {
        background: #39c24a !important; }

.elsafwa_info {
  padding-top: 40px;
  padding-bottom: 40px; }
  .elsafwa_info .text {
    text-indent: 50px;
    text-align: justify;
    color: #090909; }

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: url("../images/footer_bg.jpg");
  -webkit-background-size: cover;
  background-size: cover; }
  footer h4 {
    color: #3030e1; }
  footer p {
    color: rgba(53, 55, 53, 0.65);
    font-size: 20px; }
  footer .map_container {
    margin-top: 25px;
    height: 265px;
    overflow: hidden; }
    footer .map_container iframe {
      width: 100%;
      margin-top: -145px; }
  footer .contact_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #39c24a; }
  footer .contact_form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #39c24a; }
  footer .contact_form :-ms-input-placeholder {
    /* IE 10+ */
    color: #39c24a; }
  footer .contact_form :-moz-placeholder {
    /* Firefox 18- */
    color: #39c24a; }
  footer .contact_form input.form-control {
    height: 40px; }
  footer .contact_form .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #39c24a;
    background: transparent;
    border-color: #39c24a; }
  footer .contact_form textarea {
    resize: none; }
  footer .contact_form button.btn.btn-default, footer .contact_form button.btn.btn-default:hover, footer .contact_form button.btn.btn-default:focus, footer .contact_form button.btn.btn-default:active {
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #39c24a;
    border-color: #39c24a;
    color: white; }
  footer .final_menu ul {
    margin-top: 40px;
    margin-bottom: 20px; }
    footer .final_menu ul li {
      padding-left: 4%; }
      footer .final_menu ul li a {
        color: #353735; }
        footer .final_menu ul li a:hover, footer .final_menu ul li a:focus, footer .final_menu ul li a:active {
          text-decoration: none; }
      footer .final_menu ul li:last-of-type {
        padding-left: 0; }

.departs h2 {
  color: #3030e1; }
.departs .depart_holder {
  height: 292.5px;
  position: relative;
  background: rgba(57, 194, 47, 0.21);
  margin-bottom: 20px; }
  .departs .depart_holder p {
    font-size: 16px; }
  .departs .depart_holder:hover .overlay {
    opacity: 1; }

.depart_details h2 {
  color: #3030e1; }
.depart_details .interested {
  margin-top: 20px; }
  .depart_details .interested .form-group {
    float: left; }
  .depart_details .interested button.btn.btn-default {
    border: none;
    background: transparent; }
.depart_details .slider-holder {
  direction: ltr;
  margin-bottom: 30px; }
  .depart_details .slider-holder iframe {
    display: block;
    width: 95%;
    height: 300px;
    margin: auto; }
  .depart_details .slider-holder a {
    display: block;
    text-align: center;
    color: #39c24a;
    margin-top: 30px; }
    .depart_details .slider-holder a:hover, .depart_details .slider-holder a:focus, .depart_details .slider-holder a:active {
      text-decoration: none; }
  .depart_details .slider-holder .slick-prev:before, .depart_details .slider-holder .slick-next:before {
    color: #3030e1;
    opacity: 1; }
  .depart_details .slider-holder .slick-next:before {
    content: url("../images/slick-right-arrow.png"); }
  .depart_details .slider-holder .slick-prev:before {
    content: url("../images/slick-left-arrow-key.png"); }
  .depart_details .slider-holder .slick-prev, .depart_details .slider-holder .slick-next {
    width: 32px;
    height: 32px; }
.depart_details hr {
  border-top: 1px solid #3030e1;
  width: 90%; }
.depart_details .articles img {
  width: 90%;
  margin: auto; }
.depart_details .articles .content h5 {
  color: #39c24a; }
.depart_details .articles .content p {
  height: 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }
.depart_details .articles .content a {
  float: left;
  margin-top: 0;
  color: #3030e1; }
.depart_details .books img {
  width: 90%;
  margin: auto; }
.depart_details .books .content h5 {
  color: #39c24a; }
.depart_details .books .content p {
  height: 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }
.depart_details .books .content a {
  float: left;
  margin-top: 0;
  color: #3030e1; }

.series_details h2 {
  color: #3030e1; }
.series_details .series-container {
  padding-top: 30px;
  padding-bottom: 30px; }
  .series_details .series-container iframe {
    width: 100%;
    height: 500px; }
.series_details .commenting {
  font-size: 18px; }
.series_details .rating {
  text-align: left;
  color: #ffda44; }
.series_details hr {
  border-top: 1px solid #39c24a; }
.series_details .comments .media {
  margin-bottom: 20px; }
  .series_details .comments .media .img-container {
    width: 100px;
    height: 100px;
    border: 1px solid #39c24a;
    padding: 5px; }
  .series_details .comments .media .media-body p {
    height: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
.series_details .add_comment {
  width: 75%;
  margin: auto; }
  .series_details .add_comment .media {
    margin-bottom: 20px; }
    .series_details .add_comment .media .img-container {
      width: 100px;
      height: 100px;
      border: 1px solid #39c24a;
      padding: 5px; }
    .series_details .add_comment .media .media-body p {
      height: 20px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .series_details .add_comment .media .ratingicon {
      padding-left: 5px; }
  .series_details .add_comment label {
    font-weight: lighter; }
  .series_details .add_comment textarea {
    resize: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #39c24a;
    background: transparent; }
    .series_details .add_comment textarea.blog_comment {
      height: 100px !important; }
  .series_details .add_comment .submit-comment {
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    border-color: #39c24a;
    color: #39c24a;
    margin-bottom: 20px; }
.series_details .article-container p {
  font-size: 18px;
  line-height: 1.5; }
.series_details .book_info h2 {
  color: #3030e1; }
.series_details .book_info p {
  padding-right: 20%;
  font-size: 18px; }
  .series_details .book_info p a {
    color: #3030e1;
    display: block;
    margin-top: 20px; }
    .series_details .book_info p a i {
      color: black; }
    .series_details .book_info p a:hover, .series_details .book_info p a:focus, .series_details .book_info p a:active {
      text-decoration: none; }

.news {
  padding-top: 30px; }
  .news .media {
    margin-bottom: 20px; }
    .news .media .img-container {
      width: 250px;
      height: 250px;
      border: 1px solid #39c24a;
      padding: 5px; }
    .news .media .media-body h4 {
      color: #3030e1; }
    .news .media .media-body p {
      height: 160px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      line-height: 1.6; }
    .news .media .media-body a {
      background: #3030e1;
      color: white;
      padding: 5px 20px;
      float: left; }
      .news .media .media-body a:hover, .news .media .media-body a:focus, .news .media .media-body a:active {
        text-decoration: none; }
  .news .new_details h2 {
    color: #3030e1; }
  .news .new_details .new-slider_container .bx-wrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #39c24a;
    margin-bottom: 0; }
    .news .new_details .new-slider_container .bx-wrapper .bx-pager.bx-default-pager, .news .new_details .new-slider_container .bx-wrapper .bx-controls-auto.bx-default-pager {
      bottom: 20px; }
      .news .new_details .new-slider_container .bx-wrapper .bx-pager.bx-default-pager a, .news .new_details .new-slider_container .bx-wrapper .bx-controls-auto.bx-default-pager a {
        background: transparent;
        border: 1px solid #39c24a; }
        .news .new_details .new-slider_container .bx-wrapper .bx-pager.bx-default-pager a.active, .news .new_details .new-slider_container .bx-wrapper .bx-pager.bx-default-pager aa:focus, .news .new_details .new-slider_container .bx-wrapper .bx-pager.bx-default-pager aa:hover, .news .new_details .new-slider_container .bx-wrapper .bx-controls-auto.bx-default-pager a.active, .news .new_details .new-slider_container .bx-wrapper .bx-controls-auto.bx-default-pager aa:focus, .news .new_details .new-slider_container .bx-wrapper .bx-controls-auto.bx-default-pager aa:hover {
          background: #39c24a !important; }
  .news .new_info {
    margin-top: 30px;
    background: #f9f9fc;
    padding-top: 30px; }
    .news .new_info p {
      font-size: 18px;
      line-height: 1.5; }
    .news .new_info .commenting {
      text-align: left; }
    .news .new_info hr {
      border-top: 1px solid #39c24a; }
    .news .new_info .comments .media {
      margin-bottom: 20px; }
      .news .new_info .comments .media .img-container {
        width: 100px;
        height: 100px;
        border: 1px solid #39c24a;
        padding: 5px; }
      .news .new_info .comments .media .media-body h4 {
        color: black; }
      .news .new_info .comments .media .media-body p {
        font-size: 14px;
        height: 20px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical; }
    .news .new_info .add_comment {
      width: 75%;
      margin: auto; }
      .news .new_info .add_comment .media {
        margin-bottom: 20px; }
        .news .new_info .add_comment .media .img-container {
          width: 100px;
          height: 100px;
          border: 1px solid #39c24a;
          padding: 5px; }
        .news .new_info .add_comment .media .media-body p {
          height: 20px;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical; }
        .news .new_info .add_comment .media .ratingicon {
          padding-left: 5px; }
      .news .new_info .add_comment label {
        font-weight: lighter; }
      .news .new_info .add_comment textarea {
        resize: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-color: #39c24a;
        background: transparent;
        height: 100px; }
      .news .new_info .add_comment .submit-comment {
        float: left;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: transparent;
        border-color: #39c24a;
        color: #39c24a;
        margin-bottom: 20px; }

.contact_us {
  margin-bottom: 30px; }
  .contact_us .map_container {
    height: 400px;
    overflow: hidden; }
    .contact_us .map_container iframe {
      width: 100%;
      margin-top: -145px; }
  .contact_us h2 {
    color: #3030e1;
    font-weight: bold;
    margin-bottom: 30px; }
  .contact_us .contacts_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 109, 240, 0.5); }
  .contact_us .contacts_form ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 109, 240, 0.5); }
  .contact_us .contacts_form :-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 109, 240, 0.5); }
  .contact_us .contacts_form :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 109, 240, 0.5); }
  .contact_us .contacts_form .form-control {
    height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #3030e1; }
  .contact_us .contacts_form textarea {
    resize: none;
    height: 150px !important; }
  .contact_us .contacts_form .btn.btn-default {
    float: left;
    background: #3030e1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #ffda44;
    padding: 10px 20px; }
  .contact_us .border {
    width: 2%;
    height: 372px;
    background: #ffda44;
    margin: auto; }
  .contact_us .social_holder {
    height: 372px;
    position: relative; }
    .contact_us .social_holder p {
      font-size: 3em;
      color: #3030e1;
      margin-bottom: 20px; }
      .contact_us .social_holder p a {
        color: #3030e1;
        padding-left: 8px; }
        .contact_us .social_holder p a:hover, .contact_us .social_holder p a:focus, .contact_us .social_holder p a:active {
          text-decoration: none; }
        .contact_us .social_holder p a:last-of-type {
          padding-left: 0; }
      .contact_us .social_holder p i {
        color: rgba(0, 109, 240, 0.5); }
      .contact_us .social_holder p:last-of-type {
        font-size: 14px; }

.blog .blog_holder {
  height: 292.5px;
  position: relative;
  background: rgba(57, 194, 47, 0.21);
  margin-bottom: 20px; }
  .blog .blog_holder p {
    font-size: 20px;
    margin-bottom: 0; }
  .blog .blog_holder .overlay {
    background: rgba(0, 0, 0, 0.9); }
  .blog .blog_holder:hover .overlay {
    opacity: 1; }

.blog_details h2 {
  color: #3030e1; }
.blog_details .slider-holder {
  direction: ltr;
  margin-bottom: 30px; }
  .blog_details .slider-holder iframe {
    display: block;
    width: 95%;
    height: 300px;
    margin: auto; }
  .blog_details .slider-holder a {
    display: block;
    text-align: center;
    color: #39c24a;
    margin-top: 30px; }
    .blog_details .slider-holder a:hover, .blog_details .slider-holder a:focus, .blog_details .slider-holder a:active {
      text-decoration: none; }
  .blog_details .slider-holder .slick-prev:before, .blog_details .slider-holder .slick-next:before {
    color: #3030e1;
    opacity: 1; }
  .blog_details .slider-holder .slick-next:before {
    content: url("../images/slick-right-arrow.png"); }
  .blog_details .slider-holder .slick-prev:before {
    content: url("../images/slick-left-arrow-key.png"); }
  .blog_details .slider-holder .slick-prev, .blog_details .slider-holder .slick-next {
    width: 32px;
    height: 32px; }
.blog_details hr {
  border-top: 1px solid #3030e1;
  width: 90%; }
.blog_details .articles img {
  width: 90%;
  margin: auto; }
.blog_details .articles .content h5 {
  color: #39c24a; }
.blog_details .articles .content p {
  height: 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }
.blog_details .articles .content a {
  float: left;
  margin-top: 0;
  color: #3030e1; }
.blog_details .books img {
  width: 90%;
  margin: auto; }
.blog_details .books .content h5 {
  color: #39c24a; }
.blog_details .books .content p {
  height: 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }
.blog_details .books .content a {
  float: left;
  margin-top: 0;
  color: #3030e1; }

.regitration h2 {
  color: #3030e1;
  font-weight: bold;
  margin-bottom: 30px; }
  .regitration h2 span {
    color: #ffda44; }
.regitration .contacts_form {
  border-left: 3px solid #ffda44;
  padding-left: 8%; }
  .regitration .contacts_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 109, 240, 0.5); }
  .regitration .contacts_form ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 109, 240, 0.5); }
  .regitration .contacts_form :-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 109, 240, 0.5); }
  .regitration .contacts_form :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 109, 240, 0.5); }
  .regitration .contacts_form.no-border {
    border-left: none;
    padding-left: 0; }
  .regitration .contacts_form .form-control {
    height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #3030e1; }
  .regitration .contacts_form textarea {
    resize: none;
    height: 150px !important; }
  .regitration .contacts_form .btn.btn-default {
    float: left;
    background: #3030e1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #ffda44;
    padding: 10px 20px; }
.regitration .facebook_form .btn-default {
  height: 40px;
  width: 100%;
  background: #3b5998;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #3b5998;
  color: white; }
  .regitration .facebook_form .btn-default i {
    padding-left: 4%; }
.regitration .or {
  margin-bottom: 15px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #ffda44; }

@media (min-width: 1600px) {
  .container {
    width: 90% !important; }

  .bx-wrapper img {
    width: 100% !important; } }
@media (max-width: 1200px) {
  .blog .blog_holder,
  .departs .depart_holder {
    height: 250px; } }
@media (max-width: 992px) {
  header img.img-responsive {
    margin: auto; }
  header .social {
    text-align: center; }

  .elsafwa_info .text {
    text-indent: 0; }

  .navbar-default .navbar-toggle {
    border-color: #39c24a;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: transparent; }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #39c24a; }

  .navbar-collapse {
    border-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .news .media .img-container {
    width: 150px;
    height: 150px; }

  .news .media .media-body p {
    height: 110px;
    -webkit-line-clamp: 5; }

  .regitration .contacts_form {
    border-left: none;
    padding-left: 0; } }
@media (max-width: 767px) {
  .series_details .add_comment {
    width: 85%; } }

/*# sourceMappingURL=style.css.map */
